.product-card{
    height: 600px;
    width: 322px;
    display: flex;
    flex-direction: column ;
    gap: 5px;
}
.product-img{
    width: 310px;
    height: 322px;
}
.product-name{
    color: var(--grey-scale-1000, #000);

/* Subtitles */
font-family: Syne;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.product-details{
    color: var(--greyscale-400, rgba(22, 22, 21, 0.50));

/* Body text 14 */
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 85%;
}
.product-price{
    color: var(--grey-scale-1000, #000);

/* Subtitles */
font-family: Syne;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}